<section class="light" id="education" style="background-color: #F5F5F5;">
  <h2 style="text-align: center; color: #333;">Education</h2>
<br><br>

  <div style="display: flex; justify-content: center;">
    <div style="margin-right: 50px; background-color: #fff; padding: 20px; border-radius: 10px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);">
      <p style="text-align: center; font-size: 1.2rem; color: #333;"><strong>Curtin University</strong></p>
      <p style="text-align: center; font-size: 1.1rem; color: #666;">Master of Commerce, Information System and Technology</p>
    </div>
    <div style="margin-right: 50px; background-color: #fff; padding: 20px; border-radius: 10px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);">
      <p style="text-align: center; font-size: 1.2rem; color: #333;"><strong>Iqra University</strong></p>
      <p style="text-align: center; font-size: 1.1rem; color: #666;">Bachelor of Business Administration</p>
    </div>
    <div style="background-color: #fff; padding: 20px; border-radius: 10px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);">
      <p style="text-align: center; font-size: 1.2rem; color: #333;"><strong>Cadet College Petaro</strong></p>
      <p style="text-align: center; font-size: 1.1rem; color: #666;">Intermediate</p>
    </div>
  </div>
</section>